{% extends 'base.html' %}
{% block title %}
about us
{% endblock %}
{% load static %}
{% block content %}
<style>

</style>
<div class="row p-0 m-0">
    <div class="text-center mb-4 border fs-3 p-0 m-0">About <b style="font-weight:20px;" class="text-ocolor" >Us</b></div>

    <div class="col-sm-8 fs-5">
        <img src="{% static 'images/teampic.jpg' %}" height="450px" width="800px" class="border border-2"/><br/>
<b class="fs-3"> Techie turned logistics entrepreneur: Meet Jai Singh Yadav, FavCart India  Services Partner</b><br/>
A five-year journey of scaling up from 1 to 78 stations and 5 to 350 delivery associated in Uttar Pradesh.
        <p>India's Biggest Online Shopping Website.</p>Now days, It starts free delivery product when your shopping product up to Rs.2000/-
    </div>
    <div class="col-sm-4 text-center">
        <div class="row m-0 p-0 fs-5" ><b>TOP STORIES</b></div>
        <div class="row">
            <div class="card sm-3" style="max-width: 500px;">
  <div class="row g-0 p-0">
    <div class="col-sm-4">
      <img src="{% static 'images/a1.jpg' %}" class="img-fluid rounded-start pt-3" alt="...">
    </div>
    <div class="col-sm-8 p-0 m-0">
      <div class="card-body">
        <p class="card-text">Immerse Yourself in Middle-earth with 'The Lord of the Rings: The Rings of Power'</p>
      </div>
    </div>
  </div>
</div>


             <div class="row p-0 m-0">
            <div class="card md-3" style="max-width: 500px;">
  <div class="row g-0 p-0">
    <div class="col-md-4">
      <img src="{% static 'images/a2.jpg' %}" class="img-fluid rounded-start pt-3" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">Meet the cast and characters in the new 'Lord of the Rings' series</p>
      </div>
    </div>
  </div>
</div>

        <div class="row p-0 m-0">
            <div class="card md-3" style="max-width: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/a3.jpg' %}" class="img-fluid rounded-start pt-3" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">How FavCart India Smart Stores are redefining your offline shopping experience</p>
      </div>
    </div>
  </div>
</div>
        </div>
             </div></div>
    </div></div>
<div class="row p-0 m-0">
        <div class="text-center border border-2 p-0 m-0 mt-3 mb-3 fs-3">Hope you will enjoy <b style="font-weight:20px;" class="text-ocolor" >our website!</b></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h5 class="text-center"><b>The benefits of shopping online</b></h5>
        <i class="text-center">Trading online is just more and more popular. Not only is it easier for people with a busy schedule,
but there are also many other benefits to shopping online.
</i>
        <h5 class="text-center"><b>Easily accessible information</b></h5>
        <i class="text-center">Using the internet a lot of information is readily available, and you can usually find what you're looking for
easier online than to find it at the local mall or store.
 With a few mouse clicks you can order most of the goods and services!</i>

        <h5 class="text-center"><b>Convenience</b></h5>
        <i class="text-center">A big advantage of shopping online is convenience. When you shop online you do not need to  leaving home.
To avoid the crowd and eliminate the stress of having to visit a local shop to find what you're looking for.
To shop online is perhaps the most convenient way to do shopping.
</i>
        <h5 class="text-center"><b>Shop when you want</b></h5>
        <i class="text-center">When shopping online you do not need to worry about when the store closes.
Online stores are  usually available 24 hours a day all week.</i>

        <h5 class="text-center"><b>Easy to compare prices</b></h5>
        <i class="text-center">Saving money is always nice, but when you go shopping the traditional way you must either call around  or
driving from store to store to compare prices. On the internet you can compare prices with keystrokes.
Prices on the Web is almost always lower when the businesses on the Internet have less
operating costs than a traditional store.</i>

        <h5 class="text-center"><b>Expanding your business area</b></h5>
        <i class="text-center">
            Variety of goods or services you are looking for is more varied on this because the market is national or globally,
 and not just in the area you are located.

        </i>
        <h5 class="text-center"><b>Find discounts online</b></h5>
        <i class="text-center">
            When you shop online you can find discounts that are not available in their local store.
        </i>
        <h5 class="text-center"><b>Last but not least</b></h5>
        <i class="text-center">
            To shop online has also an environmental side as it contributes to reducing pollution by lowering
carbon emissions by not using a car or other vehicle to shop at the mall or in store.

        </i>
    </div>
    <div class="col-sm-2"></div>
</div>


{% endblock %}